.login-form {
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: 0 auto;
}

.login {
    margin: 10px auto;
    background: lightgreen;
    color: black;
}

.form {
    position: relative;
    margin: 30px auto;
    text-align: center;
    padding-top: 25vh;
}