.card {
    position: relative;
    background: rgb(156, 144, 144);
    box-shadow: 10px 10px #000;
    height: 28vh;
    max-width: 400px;
    width: 185px;
}

.delete-button {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: 10px;
    background: rgb(156, 144, 144);
    border: 0px;
    color: #D0021B;
}

.delete-button:focus {
    outline: 0;
}

.card-text {
    box-shadow: 0 -1px 0 #f7f7f7;
    padding-top: 5px;
    font-size: 0.7rem;
}

.card-title {
    margin-bottom: 7px;
}

.card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.notes-wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url('../../22237-grey-wallpapers-1920x1200-tablet.jpg');
    background-size: cover;
    /* background-image: linear-gradient(120deg, rgb(179, 174, 174) 0%, rgb(75, 66, 66) 40%); */
}