body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  background: rgb(70, 66, 66);
  color: white;
  background-image: url('./22237-grey-wallpapers-1920x1200-tablet.jpg');
}

.description {
  font-weight: bold;
}

.App {
  display: flex;
}

button {
  background: rgb(119, 111, 111);
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 100px;
  border-radius: 5%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.welcome {
  max-width: 600px;
  width: 40%;
  position: relative;
  margin: 0px auto;
  text-align: center;
  padding-top: 30vh;
}

#login {
  background: lightgreen;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label {
  color: white;
}

.joke-wrapper {
  position: relative;
  margin: 50px auto;
  text-align: center;
  width: 80%;
}

.content {
  display: flex;
  width: 100%;
}

.logout-below750 {
  display: none;
}

.addNote-below750 {
  display: none;
}

.notes-below750 {
  display: none;
}

@media(min-width: 1100px) {
  .content {
    margin: 0 auto;
    max-width: 1100px;
    background-image: url('./22237-grey-wallpapers-1920x1200-tablet.jpg');
    border-right: 2px solid black;
    border-left: 2px solid black;
  }
  body {
    background-image: url('./footer_lodyas.png');
  }
}

@media(max-width: 750px) {
  .addNote-below750 {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 8px;
    width: 50px;
    background: #2BC1C4;
    color: black;
  }
  .notes-below750 {
    position: absolute;
    display: block;
    top: 20px;
    left: 168px;
    background: #2BC1C4;
    color: black;
  }
  .logout-below750 {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 8px;
    background: #D0021B;
    color: white;
    width: 50px;
  }
  #note-title {
    margin: 0 auto;
  }
  #note-body {
    margin: 0 auto;
  }
  .createNote {
    margin: 0 auto;
  }
}

@media(max-width: 350px) {
  .addNote-below750 {
    width: 30px;
  }
  .logout-below750 {
    width: 30px;
  }
}